<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
      <header>
    <% include ./partials/_header %>
</header>
    <h1>My URL Shortener</h1>
  
            <% for (var i in urls) { %>
            
            <form method="POST" action="/urls/<%= i %>/delete"> 
        
        <li><%= i %> : <a href="<%= urls[i] %>"> <%= urls[i] %></a> 
        	
        	<a href="<%= /urls/i %>"> < edit ></a></li><button> Delete</button>
   			 
   			 <% }; %>	
  </form>

   
    



<!-- <p>Go back to <a href="/">home page</a></p> -->

</body>
</html>
